<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="shortcut icon" href="#">

    <script defer type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <title>Home</title>
</head>
<body>


<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container-md">

                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Fork Name</th>
                        <th scope="col" class="text-center">URL</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody id="fork-table">

{#                        <tr id="https://github.com/WhiteJaeger/2021-2-level-labs" class="fork-row">#}
{#                            <td><b>WhiteJaeger Hardcoded</b></td>#}
{#                            <td><a href="https://github.com/WhiteJaeger/2021-2-level-labs" target="_blank">https://github.com/WhiteJaeger/2021-2-level-labs</a></td>#}
{#                            <td>#}
{#                                <input class="btn btn-outline-secondary mb-2" id="update" type="submit" value="Update">#}
{#                                <input class="btn btn-outline-secondary mb-2" id="update-keep-fork" type="submit" value="Update (Keep Fork)">#}
{#                                <input class="btn btn-outline-secondary mb-2" id="update-keep-upstream" type="submit" value="Update (Keep Upstream)">#}
{#                            </td>#}
{#                        </tr>#}

                        {% for forkName in names %}
                            <tr id="{{ fork_urls[loop.index0] }}" class="fork-row">
                                <td>{{ forkName }}</td>
                                <td><a href="{{ fork_urls[loop.index0] }}" target="_blank">{{ fork_urls[loop.index0] }}</a></td>
                                <td>
                                    <input class="btn btn-outline-secondary mb-2" id="update" type="submit" value="Update">
                                    <input class="btn btn-outline-secondary mb-2" id="update-keep-fork" type="submit" value="Update (Keep Fork)">
                                    <input class="btn btn-outline-secondary mb-2" id="update-keep-upstream" type="submit" value="Update (Keep Upstream)">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

<div class="modal"><!-- Place at bottom of page --></div>

</body>
</html>
