<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="shortcut icon" href="#">

    <script defer type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <title>Home</title>
</head>
<body>


<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container-md">

                <h2>Fork Table</h2>

                <table id="fork-table-main" class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Fork Name</th>
                        <th scope="col" class="text-center">URL</th>
                        <th scope="col" class="text-center">Actions</th>
                        <th scope="col" class="text-center">Status</th>
                    </tr>
                    </thead>
                    <tbody id="fork-table">
                        {% for forkName, forkData in forks.items() %}
                            <tr id="{{ forkData['url'] }}" class="fork-row">
                                <td>{{ forkName }}</td>
                                <td><a href="{{ forkData['url'] }}" target="_blank">{{ forkData['url'] }}</a></td>
                                <td>
                                    <input class="btn btn-outline-secondary mb-2" id="update" type="submit" value="Update">
                                    <input class="btn btn-outline-secondary mb-2" id="update-keep-fork" type="submit" value="Update (Keep Fork)">
                                    <input class="btn btn-outline-secondary mb-2" id="update-keep-upstream" type="submit" value="Update (Keep Upstream)">
                                </td>
                                <td class="fork-status">{{ forkData['status'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input class="btn btn-outline-secondary mb-2" id="sync-forks" type="submit" value="Sync forks">
            </div>
        </div>
    </div>

</main>

<div class="modal"></div>

</body>
</html>
